/* USAGE
.awesome {
    width: 100%;
    height: 100%;
}

body {
    @extend .awesome;
}

*/

.img-cover{
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000; //Incase the Image doesn't load. There will be a black background.
}